[Desktop Entry]
Encoding=UTF-8
Name=KCalc
Name[af]=Kcalc
Name[eo]=Kalkulilo
Name[lv]=KKalk
Name[ne]=केडीई क्याल्क
Name[pa]=ਕੇ-ਕੈਲਕ
Name[pl]=Kalkulator
Name[sv]=Kcalc
Name[ta]=கேகணிப்பான்
Name[tg]=KМошинаи ҳисобкунак
Name[tr]=Hesap Makinesi
Name[uz]=Калкулятор
Name[x-test]=xxKCalcxx
Name[zh_TW]=KDE 計算機
Exec=kcalc -caption "%c"
Icon=kcalc
DocPath=kcalc/index.html
GenericName=Scientific Calculator
GenericName[af]=Wetenskaplike Sakrekenaar
GenericName[br]=Ur jederez skiantel
GenericName[ca]=Calculadora científica
GenericName[cs]=Vědecká kalkulačka
GenericName[cy]=Cyfrifydd Gwyddonol
GenericName[da]=Videnskabelig regnemaskine
GenericName[de]=Wissenschaftlicher Taschenrechner
GenericName[el]=Επιστημονικό κομπιουτεράκι
GenericName[eo]=Scienca kalkulilo
GenericName[es]=Calculadora científica
GenericName[et]=Teaduslik kalkulaator
GenericName[eu]=Kalkulagailu Zientifikoa
GenericName[fa]=ماشین حساب علمی
GenericName[fi]=Tieteellinen laskin
GenericName[fr]=Une calculatrice scientifique
GenericName[ga]=Áireamhán Eolaíochta
GenericName[he]=מחשבון מדעי
GenericName[hr]=Znanstveni kalkulator
GenericName[hu]=Számológép
GenericName[is]=Öflug reiknivél
GenericName[it]=Calcolatrice scientifica
GenericName[ja]=科学電卓
GenericName[kk]=Ғылыми калькулятор
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ​វិទ្យាសាស្ត្រ
GenericName[lt]=Mokslinis skaičiuotuvas
GenericName[lv]=Zinātnisks Kalkulators
GenericName[mk]=Научен калкулатор
GenericName[nb]=Vitenskaplig kalkulator
GenericName[nds]=Wetenschaplich Taschenreekner
GenericName[ne]=वैज्ञानिक गणकयन्त्र
GenericName[nl]=Wetenschappelijke rekenmachine
GenericName[nn]=Vitskapleg kalkulator
GenericName[pa]=ਵਿਗਿਆਨਿਕ ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator naukowy
GenericName[pt]=Calculadora Cientifica
GenericName[pt_BR]=Calculadora Científica
GenericName[ro]=Calculator ştiinţific
GenericName[ru]=Научный калькулятор
GenericName[sl]=Znanstveni kalkulator
GenericName[sr]=Научни калкулатор
GenericName[sr@latin]=Naučni kalkulator
GenericName[sv]=Vetenskaplig miniräknare
GenericName[ta]= அறிவியல் சார்ந்த கணிப்பான்
GenericName[tg]=Мошинаи ҳисобкунаки Илмӣ
GenericName[tr]=Bilimsel Hesap Makinesi
GenericName[uk]=Калькулятор для науковців
GenericName[uz]=Илмий калкулятор
GenericName[wa]=Carculete syintifike
GenericName[x-test]=xxScientific Calculatorxx
GenericName[xh]=Umatshini Wokubala Ezenzululwazi
GenericName[zh_TW]=科學計算機
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
