[Desktop Entry]
Name=Calculator
Name[ca]=Calculadora
Name[cs]=Kalkulačka
Name[da]=Regnemaskine
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[gl]=Calculadora
Name[he]=ןובשחמ
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[is]=Reiknivél
Name[it]=Calcolatrice
Name[ja]=電卓
Name[lt]=Skaičiuotuvas
Name[mk]=Дигитрон
Name[nl]=Rekenmachine
Name[no]=Kalkulator
Name[no_NY]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sr]=Kalkulator
Name[sv]=Miniräknare
Name[ta]=¸½¢ôÀ¡ý
Name[tr]=Hesap Makinesi
Name[uk]=Калькулятор
Name[zh_CN.GB2312]=计算器
Name[zh_TW.Big5]=計算機
Exec=kcalc  -caption "%c" %i %m
Icon=kcalc
DocPath=kcalc/index.html
Comment=A Scientific Calculator
Comment[ca]=Una calculadora científica
Comment[cs]=Vědecká kalkulačka
Comment[da]=En videnskabelig regnemaskine
Comment[de]=Ein wissenschaftlicher Taschenrechner
Comment[el]=Επιστημονικό κομπιουτεράκι
Comment[eo]=Scienca kalkulilo
Comment[es]=Una Calculadora Científica
Comment[et]=Võimas kalkulaator
Comment[fi]=Tieteellinen laskin
Comment[fr]=Calculatrice scientifique
Comment[gl]=Unha Calculadora Científica
Comment[he]=יעדמ ןובשחמ
Comment[hr]=Znanstveni kalkulator
Comment[hu]=Tudományos számológép
Comment[is]=kcalc:  Öflug reiknivél
Comment[it]=Calcolatrice scientifica
Comment[ja]=簡易関数電卓
Comment[lt]=Eksponentinis Skaičiuotuvas
Comment[mk]=Дигитрон
Comment[nl]=Een wetenschappelijke rekenmachine
Comment[no]=En vitenskaplig kalkulator
Comment[no_NY]=Ein vitskapleg kalkulator
Comment[pl]=Kalkulator naukowy
Comment[pt]=Calculadora Cientifica
Comment[pt_BR]=Calculadora Científica
Comment[ro]=Un calculator ştiinţific
Comment[ru]=Научный калькулятор
Comment[sk]=Vedecká kalkulačka
Comment[sl]=Znanstveni kalkulator
Comment[sr]=Naučni kalkulator
Comment[sv]=En vetenskaplig miniräknare
Comment[ta]=´Õ «È¢Å¢Âø ¸½¢ôÀ¡ý
Comment[tr]=Bilimsel bir Hesap Makinesi
Comment[uk]=Калькулятор для науковців
Comment[zh_CN.GB2312]=科学计算器
Comment[zh_TW.Big5]=科學計算機
Terminal=0
Type=Application
MapNotify=true
